  #sidebar-right {
    min-width: 220px;
    max-width: 220px;
    float: right;
    height:100%;
    position:relative;
  }
.moonphases{
  width: 100px;
  height: 100%;
  float: left;

}
#left-nav {
  width: 100px;
}
body{
  color: white;
}
.page-footer{
  position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: red;
 color: white;
 text-align: center;
}
body { 
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
  font-weight:bold;

}